Create Item

<form action="/create" method="post">
  <input type="text" name="name" value="input item name">
  <input type="text" name="quantity" value="input quantity">
  <input type="submit"></input>
  <a href="/">home</a>
</form>
