<form action="/destroy" method="post">
  <input type="hidden" name="id" value="<%= @task.id %>">
  <input type="text" name="name" value="<%= @task.name %>">
  <input type="text" name="quantity" value="<%= @task.quantity %>">
  <input type="submit">Update Item</input>
</form>
